<ion-header>
    <ion-toolbar>
        <ion-title>Crud</ion-title>
        <ion-button slot="end" (click)="abrirModalCovid()">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
    <ion-list *ngFor="let salvarService of salvarItens; let key = index">
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://www.countryflags.io/br/flat/64.png" />
            </ion-avatar>
            <ion-label>
                <h2>{{ salvarService.state }}</h2>
                <ion-text color="medium">
                    <h3>{{ salvarService.uf }}</h3>
                    <p>{{ salvarService.cases }}</p>
                    <p>{{ salvarService.suspects }}</p>
                </ion-text>
                <p></p>
            </ion-label>


        <ion-button color="primary" slot="end" (click)="editarDadosCovidVindoDaModal(key)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button color="danger" slot="end" (click)="delete(key)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>

        </ion-item>
    </ion-list> 


</ion-content>

