<ion-router-outlet>
    <ion-header>
        <ion-toolbar>
            <ion-button slot="start" [routerLink]="['/page-crud']" routerLinkActive="router-link-active">
                <ion-icon slot="start" name="chevron-back-outline"> </ion-icon>
            </ion-button>

            <!-- <ion-button slot="end" (click)="abrirModalCovid()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button> -->
            <ion-title>API com Crud</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar>
        <ion-searchbar showCancelButton="focus" (ionInput)="search($event)" (ionClear)="clear()"></ion-searchbar>
    </ion-toolbar>

    <ion-content>
        <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
            Toggle Infinite Scroll
        </ion-button>
        <ion-list></ion-list> -->

        <ion-card *ngFor="let data of covid">
            <ion-card-header>
                <ion-card-subtitle>UF {{ data.uf}}</ion-card-subtitle>
                <ion-card-title>Estado:{{ data.state}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>Casos:{{data.cases}}</ion-card-content>
            <ion-card-content>Suspeitos:{{data.suspects}} </ion-card-content>
            <ion-card-content>Mortes:{{data.deaths}} </ion-card-content>

            <!-- <ion-button (click)="abrirModalCovid()">
                <ion-icon slot="end" name="star"></ion-icon>
                Atualizar
            </ion-button>

            <ion-button color="danger" (click)="onClick()">
                <ion-icon slot="end" name="trash-outline"></ion-icon>
                Deletar
            </ion-button> -->
        </ion-card>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
</ion-router-outlet>