<ion-router-outlet>
    <ion-header>
        <ion-toolbar>
            <ion-button (click)="onClick()" slot="start" [routerLink]="['/page-crud']" routerLinkActive="router-link-active">
                <ion-icon slot="start" name="chevron-back-outline"> </ion-icon>
            </ion-button>

            <!-- <ion-button slot="end" (click)="abrirModalCovid()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button> -->
            <ion-title>API com Crud</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar>
        <ion-searchbar showCancelButton="focus" (ionInput)="search($event)" (ionClear)="clear()"></ion-searchbar>
    </ion-toolbar>

    <ion-content>
        <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
            Toggle Infinite Scroll
        </ion-button>
        <ion-list></ion-list> -->

        <ion-card *ngFor="let data of covid">
            <ion-card-header>
                <ion-card-subtitle>UF {{ data.uf}}</ion-card-subtitle>
                <ion-card-title>Estado:{{ data.state}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>Casos:{{data.cases}}</ion-card-content>
            <ion-card-content>Suspeitos:{{data.suspects}} </ion-card-content>
            <ion-card-content>Mortes:{{data.deaths}} </ion-card-content>

            <!-- <ion-button (click)="abrirModalCovid()">
                <ion-icon slot="end" name="star"></ion-icon>
                Atualizar
            </ion-button>

            <ion-button color="danger" (click)="onClick()">
                <ion-icon slot="end" name="trash-outline"></ion-icon>
                Deletar
            </ion-button> -->
        </ion-card>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>

    <!-- <ion-card *ngFor="let data of datas">
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://www.fillmurray.com/160/90
                ">
            </ion-avatar>
            <ion-label>
                <h3>John Doe</h3>
                <p>UF {{ data.uf}}</p>
            </ion-label>
        </ion-item>

        <img src="http://placeimg.com/640/360/any" alt="ion">
        <ion-card-header>
            <ion-card-title>Hotel Panama Garden</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
        </ion-card-content>

        <ion-footer>
            <ion-row>
                <ion-col center text-center>
                    <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
                </ion-col>
                <ion-col center text-center>
                    <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
                </ion-col>
                <ion-col center text-center>
                    <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
                </ion-col>
            </ion-row>
        </ion-footer>
    </ion-card> -->
</ion-router-outlet>